.Time{
  float: left;
}
#currentTime{
  font-size: xx-large;
  color: #000;
}
input {
  background-color: rgb(173, 242, 213);
  font-size: xx-large;
  margin: 9vh;
  padding: 1vh;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
}

.search {
  display: flex;
  justify-content: center;

}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px #999;
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #0bd212;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#demo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card1 {
  display: flex;
  justify-content: center;
}
.work {
  display: flex;
  text-align: left;
  justify-items: center;
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 25px;
  height: auto;
  border: solid 5px rgb(163, 132, 132);
  border-radius: 20px;
  color: rgb(19, 3, 3);
  font-size: 20px;
}

